html,
body,
#todolist_title {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.container {
  background-color: violet;

  width: 500px;
  height: 100vh;

  margin: 0 auto;
  padding-top: 2em;

  position: relative;
  top: 50%;
}

.todo-list {
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
}

.todo-item {
  margin-bottom: 1em;
  padding: 1em;
  background-color: #fff;

  display: flex;
  justify-content: flex-end;
}

.todo-item-span {
  font-size: 20px;
  margin-right: 10px;
}

input {
  margin: 30px auto;
  width: 500px;
  height: 50px;
}

#finished {
  margin-top: 50px;
}

button {
  width: 40px;
  height: 30px;
  margin: 0 10px;
}
