html,
body,
h1 {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}


.container {
  background-color: white;

  width: 600px;
  /* height: 70vh; */

  margin: 0 auto;
  padding-top: 1em;

  position: relative;
  top: 50%;
}

.todo {

}

.todo-list {
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  border:2px solid;
  border-radius: 1em;
  padding: 2em;
  /* width: 368px;
  height: 360px; */
}

.todo-item {
  margin-bottom: 1em;
  padding: 0 auto;

  display: flex;
  justify-content: space-between;
  height: 56px;
  
}

.todo-input { 
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-top: 0 auto;
  margin-bottom :0 auto;
  height: 50px;
}

.todo-readonly {
  background-color: #fff;
  /* display: flex; */
  justify-content: space-between;
  width: 468px;
  padding-top: 17px ;
  padding-bottom :10px;
  text-align: center;
  border: 2px solid;
}

.todo-add {
  margin-bottom: 1em;
  padding: 0 auto;

  justify-content: space-between;
  
  border: 2px dotted;

  width: 464px;
  height: 52px;

  text-align: center;
  font-size: 1.5em;
  color: lightgray;
}

.todo-item-add {
  margin-bottom: 1em;
  padding: 0 auto;

  display: flex;
  justify-content: space-between;
  height: 56px;

  border:2px dotted; 
  color: lightgray;
  font-size: 1.5em;
}

.todo-item-add .content {
  /* display: flex; */
  justify-content: space-between;
  width: 468px;
  padding-top: 16px ;
  padding-bottom :10px;
  text-align: center;
}


.container .todo-button button{
  background-color: white;
  margin-right: 1px;
  margin-left:2px;
}



.completed {
  
}


.completed-list {
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  border:2px solid;
  border-radius: 1em;
  padding: 2em;

}